[Unit]
Description=Nomad Autoscaler Enterprise
Documentation=https://developer.hashicorp.com/nomad/tools/autoscaling
Wants=network-online.target nomad.service
After=network-online.target nomad.service

[Service]
User=nomad
Group=nomad
ExecStart=/usr/local/bin/nomad-autoscaler agent -config /etc/nomad-autoscaler.d
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
KillSignal=SIGINT
Restart=on-failure
RestartSec=5
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
