consul {
  address             = "${consul_addr}"
  grpc_address        = "${consul_grpc_addr}"
  token               = "$${consul_token}"
  ssl                 = ${consul_ssl}
  verify_ssl          = false
  auto_advertise      = true
  client_auto_join    = true
  client_service_name = "nomad-client"
}
