audit {
  enabled = true

  sink "file" {
    type               = "file"
    delivery_guarantee = "enforced"
    format             = "json"
    path               = "${nomad_data_dir}/audit/audit.log"
    rotate_bytes       = 104857600
    rotate_duration    = "24h"
    rotate_max_files   = 14
  }
}
