autopilot {
  cleanup_dead_servers      = ${autopilot_cleanup_dead_servers}
  last_contact_threshold    = "${autopilot_last_contact_threshold}"
  max_trailing_logs         = ${autopilot_max_trailing_logs}
  server_stabilization_time = "${autopilot_server_stabilization_time}"
  enable_redundancy_zones   = ${autopilot_enable_redundancy_zones}
  disable_upgrade_migration = ${autopilot_disable_upgrade_migration}
  enable_custom_upgrades    = ${autopilot_enable_custom_upgrades}
}
